body{
    background-color:rgb(128,128 ,0)
    }
    h1{
        color: rgb(rgb(17, 1, 1);
        font-family:sans-serif,;
        background:rgb ;
        }
        p{
        color:;
        font-family: ;
        font-size: ;
        background: rgb;
        }
        
        #cosmeticos{
            width: 100%;
        }
          
    
        